/* header */

.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.logo {
    cursor: pointer;
    width: 80px;
    object-fit: cover;
}

.navbar__link,
.header-action__link {
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    padding: 8px 18px;
}

.navbar__link:hover,
.header-action__link:hover {
    color: #000958;
    text-shadow: 0.2px 0 0 currentColor, -0.2px 0 0 currentColor;
}

.navbar__link.active {
    color: #ff5b2e;
}

.header-action__btn {
    --height: 50px;
    width: 1px;
    color: #fff;
    background-color: #ff5b2e;
    border-color: #ff5b2e;
}

.header-action__btn:hover {
    transition: all ease 0.3s;
}

/*  pc */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }
    .header__mobile-logo {
        display: none;
    }

    .header-menu {
        display: none;
    }

    .menu-checkbox {
        display: none;
    }
}

/*  Tablet and mobile*/
@media screen and (max-width: 991.98px) {
}

/*  Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/*  Mobile */
@media screen and (max-width: 767.98px) {
    .header {
        padding-top: 18px;
    }
    .logo {
        display: none;
    }

    .mobile-header-logo,
    .header__mobile-logo {
        width: 100px;
    }

    .navbar {
        display: none;
    }

    .menu-item__mobile.active {
        color: #ff5b2e;
    }

    .header-action {
        display: none;
    }

    .header-menu {
        display: block;
    }

    .menu-overlay {
        position: fixed;
        z-index: 3;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.2);
        opacity: 1;
        visibility: hidden;
        transition: all ease 0.3s;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        visibility: visible;
        opacity: 1;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0%);
    }
    .menu-drawer {
        padding: 20px 0 0 20px;
        position: fixed;
        inset: 0 0 0 40%;
        background-color: #fff;
        z-index: 999;
        transform: translateX(100%);
        transition: 0.5s ease;
    }

    .menu-item__mobile,
    .menu-item__show-mobile {
        position: relative;
        display: block;
        margin-top: 20px;
        color: #4d4f56;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2;
    }

    .menu-item__show-mobile::before {
        position: absolute;
        top: -10px;
        left: 0;
        content: "";
        display: inline-block;
        width: 90%;
        height: 1px;
        background-color: #4d4f56;
    }
}
